html {
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  min-height: 100%;
  font-family: Ariel, sans-serif;
}

body{
 background-image: url("../blog-page/images/FullSizeRender[1054].jpg");
 background-size: cover;
}

#header{
 width:100%;
 margin-left: -8px;
 text-align:center;
 font-size: 14px;
 line-height: 1.5;
 background: #32b071e5;
 top: 0;
 position:fixed;
}

.header-container{
 color: #ececec;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 margin: -12px 8px -6px 8px; 
}

.header-description-container{
 width: 40%;
}

#about-me{
 margin: 40px 150px;
 padding: 50px;
 padding-bottom: 0px;
}

.about-me-container{
 display:flex;
 flex-direction: row;
 /*! border: 2.5px solid #00972bc7; */
 border-radius: 10px;
 background-color: #34983ddb;
 gap: 30px; 
}

.profile-pic-container{
 text-align: center;
 font-size: 18px;
}

.profile-image{
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.description-text{
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
}

.Individual-post-container, .about-me-container{
 margin: 50px 150px;
 margin-top: 0px;
 padding: 20px;
}

#posts{
 margin: 50px;
}

.Individual-post-container{
 /*! border: 2.5px solid #b7b7b7c7; */
 border-radius: 10px;
 background-color: #ffffffd2;
 font-weight: 400;
}

.post-title{
  text-align: center;
  border-bottom: 1px solid grey;
  font-size: 24px;
  margin-top: -10px;
}

.post-overview-text{
  font-size: 13px;
  font-weight: 400;
  text-indent: 50px;
  line-height: 1.5;
}

.article-link, a{
 margin: 10px;
 padding-bottom: 10px;
 text-decoration: none;
 border: none;
 background: none;
 font-size: 24px;
 color: #111111;
 font-weight: 800;
}



